@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

:root {
    --cor-0: #070F2B;
    --cor-page: #fff;
    --font-page: "Poppins", sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--cor-0);
    color: var(--cor-page);
    font-family: var(--font-page);
}